body{
    text-align: center;
}

.container{
    width: 80%;
    height: 700px;
    background-color:lightgoldenrodyellow;
    display: inline-block;
    
    position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
   
   
}

.container-title{
font-family: 'Indie Flower', cursive;
font-size: 28px;
text-align: center;
}
.container-title h1{
    font-size: 38px;
}


.container-initialTimer{
    text-align: center;
}
#timerDiv{
    text-align: center;
}
#questionDiv{
    text-align: center;
}
.container-initialTimer{

    font-size: 40px;
}
.btn{
    text-align: center;
}
button{
    
}
/* .btn{
    background-color: grey;
    color: black;
    border: none;
}
.btn:hover{
    background-color: red;
    
}
.btn:active{
    border: none;
    background-color: red;
} */